<!DOCTYPE html>
<html>
<head>
  <title>MONGO BREAD</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!--  jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

  <!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
  <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

  <!-- Bootstrap Date-Picker Plugin -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
  <script>
  $(document).ready(function(){
    let container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
    let date_input=$('input[name="sdate"]'); // our date input has the name "date"
    date_input.datepicker({
      format: 'mm/dd/yyyy',
      container: container,
      todayHighlight: true,
      autoclose: true,
    })
  })
  </script>
  <script>
  $(document).ready(function(){
    let container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
    let date_input=$('input[name="edate"]'); // our date input has the name "date"
    date_input.datepicker({
      format: 'mm/dd/yyyy',
      container: container,
      todayHighlight: true,
      autoclose: true,
    })
  })
  </script>
</head>
<body>

  <h1>BREAD(Browse, Read, Edit, Add, Delete)</h1>
  <h2>Filters</h2>

  <form class="" action="/search" method="get">

    <div class="form-group">
      <label for="string">String</label>
      <input type="text" class="form-control" name="string" id="string" placeholder="String">
    </div>

    <div class="form-group">
      <label for="integer">Integer</label>
      <input type="text" class="form-control" name="integer" id="float" placeholder="Integer">
    </div>

    <div class="form-group">
      <label for="float">Float</label>
      <input type="text" class="form-control" name="float" id="float" placeholder="Float">
    </div>

    <div class="form-group">
      <label for="sdate">Date</label>
      <input type="text" class="form-control" name="sdate" id="sdate" placeholder="dd/mm/yyyy">
    </div>

    <div class="form-group">
      <label for="edate">to</label>
      <input type="text" class="form-control" name="edate" id="edate" placeholder="dd/mm/yyyy">
    </div>

    <div class="form-group">
      <label for="boolean">Boolean</label>
      <select class="form-control" name="boolean" id="boolean">
        <option></option>
        <option>true</option>
        <option>false</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
  </form>

  <br>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>No</th>
        <th>String</th>
        <th>Integer</th>
        <th>FLoat</th>
        <th>Date</th>
        <th>Boolean</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% for(let i=0; i < data.length; i++){ %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= data[i].string %></td>
          <td><%= data[i].integer %></td>
          <td><%= data[i].float %></td>
          <td><%= util.formatDate(data[i].date) %></td>
          <td><%= data[i].boolean %></td>
          <td>
            <a href="../edit/<%= data[i]._id %>" class="btn btn-success">Edit</a>
            <a href="../delete/<%= data[i]._id %>" class="btn btn-danger">Delete</a>
          </td>
        </tr>
        <% } %>
      </tbody>

    </table>

    <a href="../add" class="btn btn-primary">Add</a>

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><% if(cpage != 1){ %><a class="page-link" href="/?o=<%= (cpage-1)*5-5 %>&c=<%= cpage-1 %>">Previous</a><% } %></li>
        <% for(let i = 1; i <= page; i++){ %>
        <li class="page-item <%= cpage == i ? 'active' : ''; %>"><a class="page-link" href="/?o=<%= i*5-5 %>&c=<%= i %>"><%= i %></a></li>
        <% } %>
        <li class="page-item"><% if(cpage != page && page != 0){ %><a class="page-link" href="/?o=<%= (++cpage)*5-5 %>&c=<%= cpage %>">Next</a><% } %></li>
        </ul>
      </nav>
  </body>
</html>
