<!DOCTYPE html>
<html>
<head>
  <title>PMS</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
</head>

<body>
  <nav class="navbar navbar-inverse  navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Project Management System</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="../projects">Project</a></li>
          <li><a href="../profile">Profile</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="../../logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <br><br><br>
    <h1>Edit Issue</h1>
    <form class="" action="" method="POST">

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="author">Author</label>
            <input type="text" class="form-control" name="author" id="author" value="<%= issues.author %>" required readonly>
          </div>

          <div class="form-group">
            <label for="tracker">Tracker</label>
            <div class="radio">
              <label><input type="radio" name="tracker" id="tracker" value="Bug" <%= issues.tracker == "Bug" ? "checked" : "" %> >Bug</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="tracker" id="tracker" value="Feature" <%= issues.tracker == "Feature" ? "checked" : "" %> >Feature</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="tracker" id="tracker" value="Support" <%= issues.tracker == "Support" ? "checked" : "" %> >Support</label>
            </div>
          </div>

          <div class="form-group">
            <label for="subject">Subject</label>
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" value="<%= issues.subject %>" required>
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" rows="4" name="description" id="description" placeholder="Description" required><%= issues.description %></textarea>
          </div>

          <div class="form-group">
            <label for="status">Status</label>
            <div class="radio">
              <label><input type="radio" name="status" id="status" value="New" <%= issues.status == "New" ? "checked" : "" %> >New</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="status" id="status" value="In Progress" <%= issues.status == "In Progress" ? "checked" : "" %> >In Progress</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="status" id="status" value="Resolved" <%= issues.status == "Resolved" ? "checked" : "" %> >Resolved</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="status" id="status" value="Feedback" <%= issues.status == "Feedback" ? "checked" : "" %> >Feedback</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="status" id="status" value="Clossed" <%= issues.status == "Clossed" ? "checked" : "" %> >Clossed</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="status" id="status" value="Rejected" <%= issues.status == "Rejected" ? "checked" : "" %> >Rejected</label>
            </div>
          </div>

          <div class="form-group">
            <label for="priority">Priority</label>
            <div class="radio">
              <label><input type="radio" name="priority" id="priority" value="Normal" <%= issues.priority == "Normal" ? "checked" : "" %> >Normal</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="priority" id="priority" value="High" <%= issues.priority == "High" ? "checked" : "" %> >High</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="priority" id="priority" value="Urgent" <%= issues.priority == "Urgent" ? "checked" : "" %> >Urgent</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="priority" id="priority" value="Immediate" <%= issues.priority == "Immediate" ? "checked" : "" %> >Immediate</label>
            </div>
          </div>

          <div class="form-group">
            <label for="done">Done</label>
            <select id="done" name="done" class="form-control">
              <% for(let i=0; i<=100; i++){ %>
                <option value="<%= i %>" <%= issues.done == i ? "selected" : "" %> ><%= i %>%</option>
              <% } %>
            </select>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="startdate">Start Date</label>
            <input type="text" class="form-control" name="startdate" id="startdate" placeholder="dd/mm/yyyy" value="<%= util.formatDate(issues.startdate) %>"required>
          </div>

          <div class="form-group">
            <label for="duedate">Due Date</label>
            <input type="text" class="form-control" name="duedate" id="duedate" placeholder="dd/mm/yyyy" value="<%= util.formatDate(issues.duedate) %>" required>
          </div>

          <div class="form-group">
            <label for="estimatedtime">Estimated Time</label>
            <input type="text" class="form-control" name="estimatedtime" id="estimatedtime" placeholder="Spent Time" value="<%= issues.estimatedtime %>" required>
          </div>

          <div class="form-group">
            <label for="files">Files</label>
            <input type="text" class="form-control" name="files" id="files" placeholder="Files" value="<%= issues.file %>" required>
          </div>

          <div class="form-group">
            <label for="spendtime">Spent Time</label>
            <input type="text" class="form-control" name="spendtime" id="spendtime" placeholder="Spent Time" value="<%= issues.spendtime %>" required>
          </div>

          <div class="form-group">
            <label for="targetversion">Target Version</label>
            <input type="text" class="form-control" name="targetversion" id="targetversion" placeholder="Target Version" value="<%= issues.targetversion %>" required>
          </div>

          <div class="form-group">
            <label for="createdate">Create Date</label>
            <input type="text" class="form-control" name="createdate" id="createdate" placeholder="dd/mm/yyyy" value="<%= util.formatDate(issues.createdate) %>" required>
          </div>

          <div class="form-group">
            <label for="updateddate">Updated Date</label>
            <input type="text" class="form-control" name="updateddate" id="updateddate" placeholder="dd/mm/yyyy" value="<%= util.formatDate(issues.updateddate) %>" required>
          </div>

          <div class="form-group">
            <label for="closedate">Close Date</label>
            <input type="text" class="form-control" name="closedate" id="closedate" placeholder="dd/mm/yyyy" value="<%= util.formatDate(issues.closedate) %>" required>
          </div>

          <div class="form-group">
            <label for="parenttask">Parent Task</label>
            <select id="parenttask" name="parenttask" class="form-control">
              <option value="">Choose ID</option>
              <% for(let i=0; i < issuesid.length; i++){ %>
                <option value="<%= issuesid[i].issuesid %>" <%= issuesid[i].issuesid == issues.parenttask ? "selected" : "" %>><%= issuesid[i].issuesid %></option>
              <% } %>
            </select>
          </div>

          <div class="form-group">
            <label for="assignee">Assignee</label>
            <select id="assignee" name="assignee" class="form-control">
              <% for(let i=0; i<users.length; i++){ %>
                <option value="<%= users[i].userid %>" <%= issues.assignee == users[i].userid ? "selected" : "" %> ><%= users[i].firstname %>  <%= users[i].lastname %></option>
              <% } %>
            </select>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Save</button>
      <a href="../../projects_issues/<%= id %>" class="btn btn-warning">Cancel</a>
      <% if(alert){ %><h3><span class="label label-danger">Members must be filled!!!</span></h3><% } %>
    </form>
  </div><br><br>

  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- Bootstrap Date-Picker Plugin -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
  <script>
  $(document).ready(function(){
    var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
    function pick(date_input){
      date_input.datepicker({
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      })
    }
    pick($('input[name="startdate"]'));
    pick($('input[name="duedate"]'));
    pick($('input[name="estimatedate"]'));
    pick($('input[name="createdate"]'));
    pick($('input[name="updateddate"]'));
    pick($('input[name="closedate"]'));
  })
  </script>

</body>
</html>
