<!DOCTYPE html>
<html>
<head>
  <title>Edit</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!--  jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

  <!-- Bootstrap Date-Picker Plugin -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

  <script>
  $(document).ready(function(){
    var date_input=$('input[name="date"]'); //our date input has the name "date"
    var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
    date_input.datepicker({
      format: 'mm/dd/yyyy',
      container: container,
      todayHighlight: true,
      autoclose: true,
    })
  })
  </script>

</head>
<body>
  <h1>Edit Data</h1>
  <form class="" action="" method="post">
    <div class="form-group">
      <label for="string" >STRING</label>
      <input type="text" class="form-control" id="string" name="string" value="<%= data.string %>" required>
    </div>
    <div class="form-group">
      <label for="integer">Integer</label>
      <input type="text" class="form-control" id="integer" name="integer" value="<%= data.integer %>" required>
    </div>
    <div class="form-group">
      <label for="float" c>Float</label>
      <input type="text" class="form-control" id="float" name="float" value="<%= data.float %>" required>
    </div>
    <div class="form-group">
      <label for="date" cl>Date</label>
      <input type="text" class="form-control" id="date" name="date" value="<%= util.formatDate(data.date) %>" required>
    </div>
    <div class="form-group">
      <label for="boolean" >Boolean</label>
      <select id="boolean" class="form-control" name="boolean" required>
        <option>Choose the boolean ...</option>
        <option<%= data.boolean ? " selected" : ""; %>>true</option>
        <option<%= !data.boolean ? " selected" : ""; %>>false</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <a href="/" class="btn btn-warning">Cancel</a>
  </form>
</body>
</html>
